@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    color: white;
    background: no-repeat center/100% url("./components/assets/images/clem-onojeghuo-zlABb6Gke24-unsplash.webp");
    font-family: "Quicksand", "Roboto", Arial, Helvetica, sans-serif;

    padding: 16px;
}
}
